<ion-header>
  <ion-toolbar>
    <ion-title>Modify Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="9" size-md="9">
        <form [formGroup]="modifyform" (ngSubmit)="doModify()" novalidate>
        <ion-item>
          <ion-label position="floating">Product Title</ion-label>
          <ion-input type="text" [formControl]="modifyform.controls['producttitle']" required></ion-input>
          <div *ngIf="modifyform.controls['producttitle'].dirty && !modifyform.controls['producttitle'].valid">
            <p *ngIf="modifyform.controls['producttitle'].errors">Product title must be minimum 6 characters</p>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Product Price</ion-label>
          <ion-input type="text" [formControl]="modifyform.controls['productprice']" required></ion-input>
          <div *ngIf="modifyform.controls['productprice'].dirty && !modifyform.controls['productprice'].valid">
            <p *ngIf="modifyform.controls['productprice'].errors?.minlength">Product price must be minimum 2 digits</p>
            <p *ngIf="!modifyform.controls['productprice'].errors?.minlength && modifyform.controls['productprice'].errors?.pattern">Product price must be in digits</p>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Product Description</ion-label>
          <ion-textarea auto-grow="true" [formControl]="modifyform.controls['productdesc']"></ion-textarea>
          <div *ngIf="modifyform.controls['productdesc'].dirty && !modifyform.controls['productdesc'].valid">
            <p *ngIf="modifyform.controls['productdesc'].errors?.minlength">Product description must be minimum 6 characters</p>
          </div>
        </ion-item>
        <ion-button
            type="submit"
            color="primary"
            expand="full" 
            class="ion-activatable ripple-parent"
            [disabled]="!modifyform.valid">
          UPDATE
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>
        <ion-button
                type="button"
                [routerLink]="['/home']"
                color="danger"
                expand="full" 
                class="ion-activatable ripple-parent">
          CANCEL
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

