<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon color="danger" slot="icon-only" (click)="doLogout()" name="exit"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/addnew']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

  <ion-list lines="none" *ngIf="!isLoading">
    <ion-item-sliding *ngFor="let p of productlist">
      <ion-item class="no-padding">
        <ion-label>
          <h2>{{p.producttitle}}</h2>
          <p>{{p.productdesc}}</p>
        </ion-label>
        <ion-badge slot="end" color="dark">${{p.productprice}}</ion-badge>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/modify/',p.docid]">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteConfirmproduct(p.docid)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-list lines="none" *ngIf="isLoading">
    <ion-item-sliding *ngFor="let p of productlist">
      <ion-item lines="none">
          <ion-label>
              <h3>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </h3>
              <p>
                  <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
              </p>
          </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  
</ion-content>
